{% extends 'base.html' %}

{% block title %}
Japanese Specialities
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="/static/css/style.css">
{% endblock head %}

{% block body %}
<section class="container-fluid px-2 mt-5">
    <!-- First dish -->
    <div class="row align-items-center spacing">
        <div class="col-md-6 text-center">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8 blurb mt-5 mb-sm-5">
                    <h2>Sushi</h2>
                    <p class="lead">Chắc chắn chúng ta cũng đã ít nhất một lần nghe đến tên gọi Sushi vì đây là món ăn
                        vô cùng nổi tiếng tại Nhật Bản. Thưởng thức Sushi không đơn thuần và việc thưởng thức ẩm thực mà
                        nó còn là thưởng thức những tác phẩm nghệ thuật </p>
                    <button class="btn btn-outline-success" type="button"> Learn More</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 align-content-center">
            <img src="img/sushi.jpg" class="img-fluid" alt="">
        </div>
    </div>
    <!-- Second dish -->
    <div class="row align-items-center spacing">
        <div class="col-md-6 order-2 order-md-1">
            <img src="img/noodle.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-6 text-center order-1 order-md-2">
            <div class="row justify-content-center">
                <div class="col-10 mb-5 mb-sm-5">
                    <h2>Udon noodle</h2>
                    <p class="lead">Dòng Mì! Một trong những món mì mang tính biểu tượng nhất của Nhật Bản: Udon sẽ được
                        chúng tôi khai thác như thế nào?.</p>
                    <button class="btn btn-outline-success" type="button"> Learn More</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Third dish -->
    <div class="row align-items-center spacing mt-5">
        <div class="col-md-6 text-center">
            <div class="row justify-content-center">
                <div class="col-10 col-lg-8 mb-5 mb-sm-5">
                    <h2>Sashimi</h2>
                    <p class="lead">Một món ăn đặc trưng của Nhật Bản được làm từ cá sống thái lát mỏng. Không gì khác
                        đó chính là Sashimi. Tại sao nó lại đặc biệt đến vậy?</p>
                    <button class="btn btn-outline-success" type="button"> Learn More</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="img/salmon.jpg" class="img-fluid" alt="">
        </div>
    </div>
    <!-- Fourth dish -->
    <div class="row align-items-center spacing">
        <div class="col-md-6 order-2 order-md-1">
            <img src="img/rice.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-6 text-center order-1 order-md-2">
            <div class="row justify-content-center">
                <div class="col-10 mb-5 mb-sm-5">
                    <h2>Ramen noodle</h2>
                    <p class="lead">Để có một trải nghiệm đáng nhớ với mì ramen - món ăn truyền thống của Nhật Bản,
                        chúng ta cần những yếu tố gì? </p>
                    <button class="btn btn-outline-success" type="button"> Learn More</button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock body %}