#intro {
    background-image: url(img/bg_image.jpg);
    background-size: cover;
    background-attachment: fixed;
    height:70vh;
    background-position: center
    
}
/* body {
    display: flex;
    
} */
.heading-main-box {
    text-align: center;
    position: absolute;
    top: 30%;
    width: 80%;
}
img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-style: solid;
}
#intro > .row > .heading-main-box > h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h2 {
    text-align: center;
    margin: 20px auto;
    text-transform: uppercase;
}
.col-md-6, .col-md-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}
.col-12.japanese {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-weight: bold;
    
}
h1 {
    color: white;
    margin-top: 50px;
}
